<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btlm.kotlingitproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".KotlinGitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".module.app.MainActivity">
        </activity>
        <activity android:name=".module.app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".utils.net.NetworkService"/>

        <activity android:name=".module.app.LoginActivity">
        </activity>
        <activity android:name=".module.app.BrowerActivity">
        </activity>
        <activity android:name=".module.app.video.VideoDetailActivity">
        </activity>
        <activity android:name=".module.app.video.VideoPlayerActivity">
        </activity>
        <activity android:name=".module.bangumi.BangumiDetailActivity">
        </activity>
        <activity android:name=".module.region.RegionTypeActivity">
        </activity>
        <activity android:name=".module.search.SearchActivity"/>
        <activity android:name=".module.region.AllRegionRankActivity">
        </activity>
        <activity android:name=".module.discover.InterestActivity"/>
        <activity android:name=".module.discover.ActivityCenterActivity"/>
        <activity android:name=".module.discover.AllGameActivity"/>
        <activity android:name=".module.discover.GameCenterActivity"/>
        <activity android:name=".module.discover.TopicCenterActivity"/>
    </application>

</manifest>